$padding-small:1.8rem;
$padding-medium:2rem;
$padding-lg:3.14rem;
$padding-xl:5rem;
$padding-xl:10rem;
$card-width:25rem;
$card-height:25rem;
$margin-small:5rem;
/*------------------------colors---------------------*/
$dark:#242733;
$white:#fff;
$light-gray:#a7abb3;
$light-gray2:rgb(231, 227, 227);
$primary:#0095eb;
$gray:#6a6c74;
$gray-dark-2:#1F232C;
$gray-dark-1:#06070A;
$transparentwhite:rgba(218, 218, 212, 0.3);
$primary-opacity:rgba(0, 149, 235, 1);