@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';


@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/btn';
// @import 'components/3dcard';
// @import 'components/cardup';
// @import 'components/navbar';
// @import 'components/dropdown';
// @import 'components/bouncetext';
// @import 'components/curvyslider';
// @import 'components/slideleftcard';
// @import 'components/sliderightcard';
// @import 'components/slidedowncard';
// @import 'components/hovercard';
// @import 'components/flipcard';
// @import 'components/slider';
// @import 'components/scalecard';
// @import 'components/fliptextcard';
// @import 'layout/footer';

// @import 'pages/home';
@import 'vendors/custom';
@import 'components/textcard';
@import 'components/article';
@import 'components/icon';
@import 'pages/home';