.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $gray-dark-1;
    &__btn{
        display: flex;
        align-items: center;
        width: 30rem;
        height: 8.5rem;
    }
    &__title{
        color:$primary-opacity;
    }
    &__btn:hover .footer__title{
        font-size: 1rem;
        color: $white;
    } 
    &__btn:hover .footer__sub__title{
        font-size: 2rem;
        color:$primary-opacity;
    } 
    &__btn:hover .f-icon{
        font-size: 3rem;
        color:$primary-opacity;
    }
}