.mybtn {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 2px;
    font-size: 12px;
    
    
    &--rectangle {
        padding-right: $padding-small;
        padding-left: $padding-small;
        padding-top: $padding-medium;
        padding-bottom: $padding-medium;
    }
    &--rectangle2 {
        padding-right: $padding-lg;
        padding-left: $padding-lg;
        // padding-top: $padding-small;
        // padding-bottom: $padding-small;
    }
    &--dark {
        @include block-colors($gray-dark-1, $light-gray);
        &:hover {
            @include block-colors($gray-dark-2, $white);
        }
    }
    &--white {
        @include block-colors($white, $gray);
        &:hover {
            @include block-colors($white, $primary);
        }
    }
    &--primary {
        @include block-colors($primary-opacity, $white);
        &:hover {
            @include block-colors($white, $primary);
        }
    }
    &--greengray{
       
        @include block-colors($greengray, $white);
        &:hover {
            @include block-colors($white, $dark);
        }
    }

    &--gold{
       
        @include block-colors($gold, $white);
        &:hover {
            @include block-colors($gold-dark, $white);
        }
    }


}