.btn {
    display: inline-block;
    &--rectangle {
        padding-right: $padding-small;
        padding-left: $padding-small;
        padding-top: $padding-medium;
        padding-bottom: $padding-medium;
    }
    &--rectangle2 {
        padding-right: $padding-lg;
        padding-left: $padding-lg;
        padding-top: $padding-medium;
        padding-bottom: $padding-medium;
    }
    &--dark {
        @include block-colors($gray-dark-1, $light-gray);
        &:hover {
            @include block-colors($gray-dark-2, $white);
        }
    }
    &--white {
        @include block-colors($white, $gray);
        &:hover {
            @include block-colors($white, $primary);
        }
    }
    &--primary {
        @include block-colors($primary-opacity, $white);
        &:hover {
            @include block-colors($white, $primary);
        }
    }
    &--fixed {
        position: fixed;
        top: 35%;
        right: 0px;
        z-index: 2;
    }
    &--fixed--bottom {
        top: 53%;
        ;
    }
}