
.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
    float: right;
}
.container{
    margin:auto;
}
.pt-m{
    padding-top: $padding-medium;
}
.pb-m{
    padding-bottom: $padding-medium;
}
.pl-m{
    padding-left: $padding-medium;
}
.pr-m{
    padding-right: $padding-medium;
}
.pt-xl{
    padding-top: $padding-xl;
}
.pb-xl{
    padding-bottom:$padding-xl;
}
.pr-xl{
    padding-right: $padding-xl;
}
.pl-xl{
    padding-left:$padding-xl;
}
.pr-lg{
    padding-right: $padding-lg;
}
.pl-lg{
    padding-left:$padding-lg;
}
.mb-s{
    margin-bottom: $margin-small;
}
.mt-s{
    margin-top: $margin-small;
}