section {
    .container-fluid,
    .container {
        &.no-gutters {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.section1 {
    background-color: $secondary;
    img {
        width: 331px !important;
    }
    
}
.section {
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        font-family: "Montserrat";
        line-height: 60px;
        text-transform: none;
        letter-spacing: 0px;
    }
}
.section3 {
  overflow: hidden;
    
}
.section5 {
    background-color: $primary;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        font-family: "Montserrat";
        line-height: 60px;
        text-transform: none;
        letter-spacing: 0px;
   
      
        color: $white;
    }
}

.section6 {
    background-color: $secondary;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        font-family: "Montserrat";
        line-height: 60px;
        text-transform: none;
        letter-spacing: 0px;
    }
    img {
        width: 210px !important;
    }
}

.section7 {
    background-color: $secondary;
    text-align: center;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        font-family: "Montserrat";
        line-height: 60px;
        text-transform: none;
        letter-spacing: 0px;
    }
}

.section8 {
    background-color: $primary;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        font-family: "Montserrat";
        line-height: 60px;
        text-transform: none;
        letter-spacing: 0px;
        color: $white;
    }
}

.section9 {
    background-color: $secondary;
    overflow: hidden;
    text-align: center;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        font-family: "Montserrat";
        line-height: 60px;
        text-transform: none;
        letter-spacing: 0px;
    }
}

.section11 {
    background-color: $secondary;
    text-align: center;
}

.section12 {
    background-color: $secondary;
}

.section13 {
    background-color: $primary;
}

